
<div class="footer-inner">
    <div class="footer-title">
        <div class="footer-title-text">
            Create your own Meetup group.
        </div>
        <button class="footer-title-btn">Get Started</button>
    </div>
    <div class="footer-description">
        <div class="footer-description-column top-line">
            <p class="footer-heading">Your Account</p>
            <a href="#"><p>Sign up</p></a>
            <a href="#"><p>Log in</p></a>
            <a href="#"><p>Help</p></a>
            <a href="#"><p>Become an Affiliate</p></a>
        </div>
        <div class="footer-description-column top-line">
            <p class="footer-heading">Discover</p>
            <a href="#"><p>Groups</p></a>
            <a href="#"><p>Calendar</p></a>
            <a href="#"><p>Topics</p></a>
            <a href="#"><p>Cities</p></a>
            <a href="#"><p>Online Events</p></a>
            <a href="#"><p>Local Guides</p></a>
            <a href="#"><p>Make Friends</p></a>
        </div>
        <div class="footer-description-column null-line">
            <p class="footer-heading">Meetup</p>
            <a href="#"><p>About</p></a>
            <a href="#"><p>Blog</p></a>
            <a href="#"><p>Meetup Pro</p></a>
            <a href="#"><p>Careers</p></a>
            <a href="#"><p>Apps</p></a>
            <a href="#"><p class="footer-text">Podcast</p></a>
        </div>
    </div>
    <div class="footer-follow-us">
        <p>Follow us</p>
        <div class="social-media">
            <div class="social">
                <a href="#"><img src="../assets/img/footer/footer-icon-1.svg" alt="footer icon"></a>
                <a href="#"><img src="../assets/img/footer/footer-icon-2.svg" alt="footer icon"></a>
                <a href="#"><img src="../assets/img/footer/footer-icon-3.svg" alt="footer icon"></a>
                <a href="#"><img src="../assets/img/footer/footer-icon-4.svg" alt="footer icon"></a>
                <a href="#"><img src="../assets/img/footer/footer-icon-5.svg" alt="footer icon"></a>
            </div>
            <div class="media">
                <a href="#"><img src="../assets/img/footer/google-button.png" alt="google-button"></a>
                <a href="#"><img src="../assets/img/footer/app-store-button.png" alt="app-store-button"></a>               
            </div>
        </div>
    </div>
    <div class="footer-others">
        <div class="footer-others-year">© 2024 Meetup</div>
        <a href="#"><p>Terms of Service</p></a>
        <a href="#"><p>Privacy Policy</p></a>
        <a href="#"><p>Do Not Sell or Share My Personal Data</p></a>
        <a href="#"><p>Cookie Policy</p></a>
        <a href="#"><p>Help</p></a>
    </div>
</div>
