
<nav>
    <div class="block-search">
        <div id="logo">
            <a href="../pages/index.html"><img src="../assets/img/header-icon/meet-up-logo.svg" alt="meetup logo"></a>
        </div>
        <div class="search">
            <form class="form">
                <div class="search-icon">
                    <img src="../assets/img/header-icon/search.svg" alt="search">
                </div>

                <input type="text" id="search-events" placeholder="Search events">
                <input type="text" id="search-area" value="Mountain View, CA">
                <button id="search-btn"><img src="../assets/img/header-icon/search-white.svg" alt=""></button>
            </form>
        </div>

    </div>
    <div class="block-registr">
        <div class="language">
            <div class="language-logo"><img src="../assets/img/header-icon/logo-lang.svg" alt="logo language"></div>
            <div class="language-logo-adapt"><img src="../assets/img/img-adaptiv/logo-lang-adapt.svg" alt="logo language"></div>
            <div class="language-text">English</div>
        </div>
        <div class="log-in">Log in</div>
        <div class="sing-up">
            <button id="sing-up_btn">Sign up</button>
        </div>
    </div>
</nav>